body {
    background-color: #98fb98;
  
       
}

/*
.test{
    height:100px;
        width: 100px;
    background-color: red;
    position:relative;
    top:5px;
    left:5px;
}
*/
#all-squares{
    width: 100%;
    height: 40%;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    
}

div.square{
    position: relative;
    text-align: center;
    width: 19%;
    height: 85%;
    display: inline-block;
    margin: 1.5%;
}

.box{
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    background-size: cover;
    background-position: center;
}

div#box-1{
  background-image: url(img/product-1.jpg);
}
#box-2{
    background-image: url(img/product-2.jpg);
}
#box-3{
  background-image: url(img/product-3.jpg);
}
#box-4{
  background-image: url(img/product-4.jpg);
}

div.mask{
    background-color: #ff6f00;
    width: 100%;
    height: 100%;
    opacity: 0;
    text-align: center;
}

div.mask:hover {
    opacity: 0.5;
}

.mask>i{
    color: white;
    top: 50px;
    
}